  <tr>
    <td><%= route.name %></td>
    <td><button><%= link_to 'Show', route %></button></td>
    <td><button><%= link_to 'Edit', edit_route_path(route) %></button></td>
    <td><button><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
  </tr>
