/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: url(train.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.user_side {
    font-size: 150px;
    text-align: right;
    color: white;
}

.user_side a {
    color: white;
}

.search {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
}

.search a {
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 25px;
    font-size: 20px;
    color: white;
}

#footer a {
    color: white;
}

.train_choice {
    font-size: 25px;
    background-color: black;
}

.train_choice a {
    color: white;
}

.menu a {
    color: white;
}

.new_ticket {
    text-align: left;

}
.ticket_show{
    text-align: left;
}