<p> Hi, <%= @user.name  %></p>

<p> Your ticket is deleted!</p>
<p> You can buy new ticket <%= link_to 'here', new_ticket_url %></p>
<p> All your tickets you can find <%= link_to 'here', tickets_url %></p>
