<p id="notice"><%= notice %></p>

<h1>Tickets list</h1>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>

<br>

<button> <%= link_to 'New Ticket', new_ticket_path %> </button>
<button> <%= link_to 'Back','welcome#index' %></button>
