<tr>
  <td><%= carriage.id %></td>
  <td><button><%= link_to 'Show', carriage %></button></td>
  <td><button><%= link_to 'Edit', edit_carriage_path(carriage) %></button></td>
  <td><button><%= link_to 'Destroy', carriage, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
</tr>
