<tr>
  <td><%= carriage.number %></td>
  <td><%= link_to 'Show',  train_carriage_path(carriage) %></td>
  <td><%= link_to 'Edit', edit_train_carriage_path(carriage) %></td>
  <td><%= link_to 'Destroy', train_carriage_path(carriage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
