<tr>
  <td><%= ticket[:id] %></td>
  <td><%= link_to t('common.show'), admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.delete'), admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
