<h1>Tickets</h1>

<table class="table table-condensed">
  <tr>
    <th>Number</th>
    <th>Train</th>
    <th>Departure Station</th>
    <th>Arrival Station</th>
    <th>User</th>
    <th>Buyer</th>
    <th colspan="3"></th>
  </tr>
  <%= render @tickets %>
</table>


