  <tr>
    <td><%= route.name %></td>
    <td><button><%= link_to t('common.show'), [:admin, route] %></button></td>
    <td><button><%= link_to t('common.edit'), edit_admin_route_path(route) %></button></td>
    <td><button><%= link_to t('common.delete'), [:admin,route], method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
  </tr>
