<h1>Editing Railway Station</h1>

<%= render 'form', railway_station: @railway_station %>

<button><%= link_to 'Show', @railway_station %></button> |
<button><%= link_to 'Back', railway_stations_path %></button>
