<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<button><%= link_to 'Edit', edit_railway_station_path(@railway_station) %></button> |
<button><%= link_to 'Back', railway_stations_path %></button>
