  <tr>
    <td><%= railway_station.title %></td>
    <td><button><%= link_to t('common.show'), [:admin, railway_station] %></button></td>
    <td><button><%= link_to t('common.edit'), edit_admin_railway_station_path(railway_station) %></button></td>
    <td><button><%= link_to t('common.delete'), [:admin, railway_station], method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
  </tr>
