<tr>
  <td><%= train.number %></td>
  <td> <button><%= link_to 'Show', [:admin,train] %> </button> </td>
  <td> <button> <%= link_to 'Edit', edit_admin_train_path(train) %></button></td>
  <td> <button> <%= link_to 'Destroy', [:admin, train], method: :delete, data: { confirm: 'Are you sure?' } %> </button></td>
</tr>